{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "endOfLine": "lf",
    "printWidth": 180,
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": ["<THIRD_PARTY_MODULES>", "", "^[.][.]/", "", "^[.]/"],
    "importOrderCaseSensitive": false
}
